*{
    padding: 0px;
    margin: 0px;
}
body{
  
    background-color:lavender;
    max-width:100vw;
    overflow-x: hidden;

    
     
}

.back{
    background-image: url("./images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-left:-1rem; */
    height: 100vh;
    width: 100vw;
   
}
/* .sectionA{ */

    /* margin-left:-7px; */
    /* margin-right:-7px; */
    /* margin-top:-5px;    */
/* } */


.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.brand{
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.menu{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: white;
    margin-left: -15rem;
    margin-top: 1px;
    justify-content: space-around;
}

.menu > li{
    list-style: none;
}

.login{
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    font-size: 18px;
    margin-right: -5rem;
    cursor: pointer;
}


.log{
    text-align: center;
    width: 6rem;
    font-weight: bold;
    font-size: 30px;
    
}

.join{
    width: 12rem;
    height: 2rem;
    padding-left: 6px;
    padding-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem;

}

.join:hover{
    
    background-color:rgb(12, 175, 240);
}

.log:hover{
    background-color: rgb(12, 175, 240);
    width: 6rem;
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;

}

.bodyA{
    color: white;
    text-align: center;
    margin-top: 6rem;
    margin-left: 29rem;
    margin-right: 27rem;
   
}

.bodyApara{
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
}

.bodyAtxt{
    font-size: 20px;
    margin-top: 30px;
    
}

.bodyAbtns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    color: white;
    cursor: pointer;
}

.aabtn{

    width: 10rem;
    height: 2rem;
    font-size: 20px;
    padding-top:12px;
    border-radius: 20px;
    cursor: pointer;
    border: solid white 2px;
}

.bbtn{
    border: solid white 2px;
    width: 10rem;
    height: 2rem;
    font-size: 20px;
    padding-top:12px;
    border-radius: 20px;
    cursor: pointer;
}


.aabtn:hover{
    background-color: rgb(12, 175, 240);;
}

.bbtn:hover{
    background-color: rgb(12, 175, 240);;
}

.bodyB{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
   
  
}
.div1{
    background-color:white;
    height: 8rem;
    padding: 2rem;
}

.div2{
    background-color:white;
    padding:2rem ;
    height: 8rem;
}


.div1:hover{
    background-color: rgb(12, 175, 240);;
}

.div2:hover{
    background-color: rgb(12, 175, 240);;
}



.img1{
    width: 15%;
}

.title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

.texty{
    font-size: 20px;
    font-weight: light;
    margin-top: 7px;
    
}

.sectionB{
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    display: flex;
    gap: 10px;
    width: 100vw;
    height: 350px;
    margin-top: 3rem;
   
}

.fdiv{
    display: grid;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    margin-inline: 5rem;
    
}


.div4{

    font-size: 22px;
   font-weight: bold;
   margin-top: -5rem;
}

.pad{
   
    font-size: 18px;
    margin-top:-12rem ;
    color: darkgray;
}

.img4{
    width: 25%;
}



.sectionC{
    padding: 10rem;
    padding-top: 7rem;
}

.industry{
    text-align: center;
}

.indy{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.indyp{
    font-size: 20px;
    color: darkgray;
}

.profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin-top: 6rem;

}

.prof1{
    background-color: white;
    height: 300px;
    text-align: center;
    align-items: center;
    padding: 3rem;
}

.rimg{
    width: 70%;   
}

.review{
    margin-top:20px;
    font-size: 18px;
    font-weight: 400;
    color: darkgray;
}

.stars{
    margin-top: 2rem;
    align-items: flex-start;
}


.vectors{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:10rem ;

}

.vect{
    width: 40%;
}

.subscribe{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    border: 3px;
    height: 17vh;

    text-transform: capitalize;
    cursor: pointer;
    background:linear-gradient(to right, #071eae, #d020d0);
    
}

.news{
   
    width:50%;
    color: white;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
    padding:2rem;
    font-size: 30px;
}

.email{
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.input{
    height: 7vh;
    width: 30vw;
    


}

.btnsd{
    background-color: rgb(12, 175, 240) ;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 6.5vh;
    border:  white solid 1px;
    width:10vw;
    border-left: none;
    /* border: white solid 1px; */
    /* border-radius: 2px; */
    color: white;
    text-align: center;
    margin-right:5rem;
    margin-top: 2.1rem;
    align-items: center;
    cursor: pointer;
    
}


.pricing{
  
    text-align: center;
    width: 100%;
    margin-top: 7rem;

}

.pricetitle{
    font-size:50px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.pricedec{
    font-size: 20px;
    color:darkgray;
}

.pricecards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
   
    
}


.card1{
    background-color: white;
    border: solid  rgb(12, 175, 240)  1px;
    height: 640px;
    width: 25%;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size:18px;
}

.card2{
    background-color: white;
    border: solid  rgb(12, 175, 240)  1px;
    height: 640px;
    width: 25%;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size:15px;   
}

.card1:hover {
    color: white;
    background-color:rgb(2, 2, 29) ;
    height: 650px;
    margin-top:-3.5rem;
    
}

.card1:hover :not(:hover){
    color: white;
}

.card2:hover :not(:hover){
        color: white;
    }
    
        
.card2:hover{
    background-color:rgb(2, 2, 29) ;
    height: 650px;
    margin-top: -3.5rem;

}

.pbd:hover{
    color: white;
}

.pbd1:hover{
    color: white;
}

.free{
    font-weight: bold;
    font-size: 40px;
    padding-top: 2rem;
}

.hand{
    font-weight: 300;
    color: darkgray;
    font-size: 22px;
    padding: 1rem;
}

.dollar{
    font-size: 35px;
    color:rgb(12, 175, 240) ;
    
}

.pbd{
    display: flex;
    text-align: start;
    justify-content: start;
    color: black;
    margin-top: -2.3rem;
    margin-left: 2rem;
    font-size: 18px;
    height: 50px;
    font-weight: bold;
   
}

.pbd1{
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: start;
    margin-top: -2.3rem;
    margin-left: 2rem;
    font-size: 18px;
    height: 50px;
    font-weight: bold;
    color:black;
}

.checkbt{
   
    width: 1.5rem;
    border-radius:40px;
    font-size: 23px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(143, 255, 143, 0.938);
    margin-right: 5px;
    cursor: pointer;
}

.blueme{
    margin-top: 4rem;
    background-color: rgb(12, 175, 240) ;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    font-size: 17px;
    cursor: pointer;
}


.sectionD{
    background-color:rgb(2, 2, 29) ;
    height: 130vh;
    margin-top: -8rem;
    background-size: cover;
}

.dsection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10rem;
    padding-top:3rem;
    gap: 10rem;
}

.branches{
    color: white;
    font-weight: bold;
   ;
}

.branch2{
    font-size: 50px;
}
.branchesp{
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mapdiv{
    width: 100%;
    margin-top: 5rem;
}


.sectionED{
    margin: 15rem;
    padding: 0%;
    margin-top: -18rem;
}

.edal{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.conty{
    width:100%;
    height: 100vh;
}

.compy{
    margin-top: 0.8rem;
    margin-right: 1rem;
  
}
.contdt{
    grid-column: span 2;
    background-color:whitesmoke;
    padding: 5rem;
  
}

input{
    width: 10rem;
    height:6.5vh;
    width: 105%;
    border-radius: 6px;
    margin-bottom: 1.4rem;
    margin-left: -2rem;
    border: 1px whitesmoke;
    background-color: lightgray;
    
}

label{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: dark;
    margin-left: -2rem;
}


.sele{
    display: flex;
    border-radius: 10px;
   
}
.sel{
    margin-left: -8rem;
    width: 7vw;
    display: flex;
    height: 6.4vh;
    background-color: lightgray;
    border: 1px lightgray ;
    font-size: 20px;
    color: gray;   
}
.bookyh{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: -2rem;
    margin-bottom: 2.5rem;
}

.appoint{
    background: rgb(8, 151, 207);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 105%;
    height:6.5vh ;
    margin-left: -2rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.consult{
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    align-items: center;
    margin-right: -5rem;
    margin-left: -5rem;
}

.consultbtn{
    background-color:rgb(8, 151, 207) ;
    color: white;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 17px;
    height: 6.5vh;
    font-weight: bold;
    cursor: pointer;
}

.consultpara h2{
    font-weight: bold;
    font-size: 28px;
    text-transform: capitalize;
    margin-top: -1rem;
}

.consultpara p{
    color: darkgray;
    margin-top: 1rem;
    font-size: 25px;
}

.sectionE{
    background-color: white;
    margin-top:-12rem ;
    height: 49vh;
    
}

.footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 5rem;
    padding-top:3rem;
    
   
}

.footp{
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footlinks li{
    list-style: none;
    color: darkgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.X{
    display: flex;
    gap: 5px;
    margin-top:1rem;
}

.footers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
   
   
   
}

.divo{
   
    color: darkgrey;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.divob{
    display: flex;
    justify-content: space-between;

}

.divob li{
    list-style: none;
    text-align: center;
    font-size: 30px;
    margin: 1rem;
   
}



@media only screen and (max-width:767px){


   /* *, */
/* ::after, */
/* ::before { */
  /* margin: 12; */
  /* margin-right: 10; */
  /* padding: 0; */
  /* box-sizing: border-box; */

/* } */

body{
    
  
        background-color:lavender;
        max-width:85vw;
    
}

    .back{
        background-image: url("./images/bg.png");
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
 
    }
    .login{
        display: flex;
        align-items: center;
        justify-content: start;
        height: 1rem;
        color: white;
        font-size: 15px;
        cursor: pointer;
        margin-right: 1rem;
        
    }
    
    .navbar{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }
    .log{
        text-align: center;
        width: 2rem;
        font-weight: bold;
        font-size: 20px;
        
    }
    
    .join{
       
        height: 2rem;
        width: 10rem;
        padding-left: 6px;
        padding-top: 10px;
        /* margin-top: 0.9rem; */
        border-radius: 5px;
        cursor: pointer;
    
    }

    .sectionA{
        margin-inline: 3px;
        
        
    }
    

    .brand{
        font-weight: bold;
        color: white;
        font-size:18px;
    }

    .menu{
        display: none;
       
    }


    .bodyA{
        color: white;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
       
    }

    .bodyApara{
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
        padding-top: 5rem;
        margin-bottom: 2rem;
    
    }


    
    .bodyAtxt{
        font-size: 20px;
        margin-top:9px;
        
    }

    .bodyAbtns{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        cursor: pointer;
        padding-top: 8px;
    }
    
    
    .aabtn{
        width: 8rem;
        font-weight: bolder;
        height: 3rem;
        font-size: 14px;
        padding-top:15px;
        border-radius: 10px;
        padding: -3;
        cursor: pointer;
    }
    
    .bbtn{
        border: solid white 2px;
        width: 8rem;
        height: 3rem;
        font-weight: bolder;
        font-size: 15px;
        padding-top:15px;
        border-radius: 20px;
        cursor: pointer;
    }
    

    .bodyB{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top:3rem;
        width: 65vw;
        margin-left: 55px;
        align-items: start;
        justify-content: center;
       
        margin-top: 2rem;
    }


    .div1{
        background-color:white;
        height:55vh;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: -1rem;
        padding-left: 1rem;
        text-align: start;
        justify-content: center;

    }
    
    .div2{
        background-color:white;
        height:55vh;
        width: 100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        margin-left:-1rem;
        padding-left: 1rem;
        text-align: start;
        justify-content: center;

    }


    .img1{
        width: 20%;
    }
    
    .title{
        font-size: 25px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .texty{
        font-size: 20px;
        font-weight: light;
        margin-top: 10px;
        
    }


    .sectionB{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 4rem;
        height:140vh;
        justify-content: center;
        text-align: center;
        align-items: center;
      
        
       
    }
    
    .fdiv{
        height: 36vh;
        gap: 1rem;
        padding: 1rem;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
        
    }
        
       
  
    .div4{
        font-size: 22px;
       font-weight: bold;
       margin-top: 1rem;

    }
    
    .pad{
       
        font-size: 20px;
        color: darkgray;
        margin-top: 1rem;
    }


    .img4{
        width:20%;
        margin-top: 1rem;
    }

    


    .sectionC{
        padding: 1rem;
        padding-top: 2rem;
    }
    
    .industry{
        text-align: center;
        font-size: 20px;
    }
    
    .indy{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    
    .indyp{
        font-size: 20px;
        color: darkgray;
    }
    
    .profile{
        display: flex;
       flex-wrap: wrap;
        margin-top: 3rem;
        margin: 4rem;

    }
    
    .prof1{
        background-color: white;
        height: 450px;
        width:100%;
        text-align: center;
        align-items: center;
        padding: 2rem;
    }
    
    .rimg{
        width: 80%;
        margin-bottom: 1rem;   
    }
    
    .review{
        margin-top:20px;
        font-size: 15px;
        font-weight: 800;
        color: darkgray;
        text-align: start;
    }
    
    .stars{
        margin-top: 2rem;
        display: grid;
        margin-left: -1rem;
        
        grid-template-columns: repeat(5,1fr);

    }
    
    
    .vectors{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left:2rem;
        margin-top:3rem ;
        margin-bottom: 4rem;
    
    }

    
    .vect{
        width: 70%;
    }
    
    .subscribe{
        background:linear-gradient(to right, #071eae, #d020d0);
        display: flex;
        width: 100%;
        margin-top:1rem;
        border: 1px;
        margin-left: -0.5rem;
        height: 9vh;
        cursor: pointer;
           
    }
    
    .news{

    width:50%;
    color: white;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding:1rem;
    font-size: 10px;
        
    }
    
    .email{
        width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
       
    }
    
    .input{
        height: 1vh;
        width: 80vw;
        margin-left: 1rem;
        margin-top: 1;
        padding:1rem ;
        
    }
    
    .btnsd{

    background-color: rgb(12, 175, 240) ;
    
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 3.8vh;
    border:  white solid 1px;
    width:16vw;
    border-left: none;
    color: white;
    text-align: center;
    /* margin-right:-rem; */
    margin-top: 0.5rem;
    align-items: center;
    cursor: pointer;
       
        
    }
    
    
    .pricing{
      
        text-align: center;
        justify-content: center;
        margin-top: 5rem;
    
    }
    
    .pricetitle{
        font-size:30px;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    
    .pricedec{
        font-size: 20px;
        color:darkgray;
    }
    
    .pricecards{
        display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
        text-align: center;
        gap: 30px;
        margin-left: 1rem;
        margin-bottom: 4rem;
      
    }
    
    
    .card1{
        background-color: white;
        border: solid  rgb(12, 175, 240)  1px;
        height: 600px;
        width: 70vw;
        margin-top: 2px;
        border-radius: 1rem;
        padding: 1rem;
        font-weight: bold;
        font-size:7px;
    }
    
    .card2{
        border: solid  rgb(12, 175, 240)  1px;
        border-radius: 1rem;
        height: 600px;
        width: 70vw;
        padding: 20px;
        color: white;   
    }
    
    .card2:hover{
        background-color:rgb(2, 2, 29) ;
        height: 620px;
        margin-top: 40px
    
    }

    .card1:hover{
        background-color:rgb(2, 2, 29) ;
        height: 620px;
        margin-top: 40px
    
    }
    
    
    .free{
        font-weight: bold;
        font-size: 20px;
        padding-top: 1rem;
        margin-left: -3rem;
    }
    
    .hand{
        font-weight: 200;
        color: darkgray;
        font-size: 15px;
        padding: 1rem;
        margin-left: -3rem;
    }
    
    .dollar{
        font-size:18px;
        color:rgb(12, 175, 240) ;
    
        
    }
    
    .pbd{
        display: flex;
        text-align: center;
        justify-content: start;
        align-items: center;
        margin-top: -2.8rem;
        margin-left: 3rem;
        font-size: 14px;
        font-weight: bold;
        color: black;
       
    }
    
    .pbd1{
        display: flex;
        text-align: center;
        justify-content: start;
        align-items: center;
        margin-top: -2.8rem;
        margin-left: 3rem;
        font-size: 14px;
        font-weight: bold;
        color:black;
    }
    
    .checkbt{
       
        width: 1.5rem;
        border-radius:40px;
        font-size: 20px;
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgba(143, 255, 143, 0.938);
        margin-right: 5px;
        cursor: pointer;
    }
    
    .blueme{
        margin-top: 3rem;
        background-color: rgb(12, 175, 240) ;
        border-radius: 1rem;
        padding: 1rem;
        margin: 2rem;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }
    
    
.sectionD{
    background-color:rgb(2, 2, 29) ;
    height: 120vh;
    margin-top: 1rem;
    background-size: cover;
}

.dsection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    padding-top:2rem;
    gap:3rem;
}

.branches{
    color: white;
    font-weight: bold;
   ;
}

.branch2{
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}
.branchesp{
    font-size: 12px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mapdiv{
    width: 100%;
    margin-top: 2rem;
}

.sectionED{
    margin: 1rem;
    margin-top: -35rem;
}

.edal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
   
}

.conty{
    width:100%;
    background-size: 100vw;
    
    height: 40vh;
    
}

.contdt{
    grid-column: span 3;
    background-color:whitesmoke;
    padding: 2.3rem;
  
}

input{
    
    height:7.5vh;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    margin-left: -2rem;
    border: 1px whitesmoke;
    background-color: lightgray;
    
}

label{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: dark;
    margin-left: -2rem;
}

.mapdiv{
    width: 100%;
    
}
.sele{
    display: flex;
    border-radius: 10px;
   
}
.sel{
    margin-left: -8rem;
    width: 8vw;
    display: flex;
    height: 6.4vh;
    background-color: lightgray;
    border: 1px lightgray ;
    font-size: 20px;
    color: gray;   
}
.bookyh{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.appoint{
    background: rgb(8, 151, 207);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 50%;
    height:7.5vh ;
   margin-left: 4rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.consult{
    display: flex;
   flex-direction: column;
    align-items: center;
    margin-top: 5rem;
   
}

.consultbtn{
    background-color:rgb(8, 151, 207) ;
    color: white;
    width: 20vw;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 12px;
    height: 4.5vh;
    font-weight: bold;
    cursor: pointer;

}

.consultpara h2{
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: -1rem;
}

.consultpara p{
    color: darkgray;
    margin-top: 1rem;
    font-size: 18px;
}

.sectionE{
    background-color: white;
    margin-top:2rem ;
    height: 190vh;
    
}

.footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 3rem;
    padding-top:2rem;
    
   
}

.footp{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footlinks li{
    list-style: none;
    color: darkgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.X{
    display: flex;
    gap: 3px;
    margin-top:1rem;
}

.footers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
   
   
   
}

.divo{
   
    color: darkgrey;
    font-weight: bold;
    font-size: 15px;
}

.divob{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.divob li{
    list-style: none;
    text-align: center;
    font-size: 3px;
    margin: 1rem;
   
}


}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablets */

    /* Styles for Mobile Devices */

}
/* ... (your existing styles for mobile devices) */

/* Styles for Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        background-color: gainsboro;
       
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        margin-inline: 4rem;
        align-items: center;
        
        
    }

    .sectionA{

        margin-left:2px;
        margin-right:2px;
          
    }

   

    .brand{
        font-weight: bold;
        font-size: 30px;
    }


    .menu{
        display: flex;
        gap: 10px;
        font-size: 15px;
        color: white;
        font-weight: bold;
        margin-left: 1rem;
        margin-top: 1px;
        justify-content: space-between;
    }


    
.login{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    margin-right: -5rem;
    cursor: pointer;
}


.log{
    text-align: center;
    width: 5rem;
    font-weight: bold;
    font-size: 25px;
    
}


.join{
 
    height: 2rem;
    padding-left: 2px;
    padding-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;

}


.bodyA{
    color: white;
    text-align: center;
    margin-top: 3rem;
    margin-left: 15rem;
    margin-right: 12rem;
   
}

.bodyApara{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}   





.bodyAtxt{
    font-size: 18px;
    margin-top: 20px;
    
}






.bodyAbtns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}




.aabtn{

    width: 8rem;
    height: 2rem;
    font-size: 18px;
    padding-top:12px;
    border-radius: 20px;
    cursor: pointer;
    border: solid white 2px;
}




.bbtn{
    border: solid white 2px;
    width: 7rem;
    height: 2rem;
    font-size: 18px;
    padding-top:15px;
    border-radius: 20px;
    cursor: pointer;
}


.bodyB{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    width: 80vw;
    
  
}



.img1{
    width: 25%;
}


.title{
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
}

.texty{
    font-size: 20px;
    font-weight: light;
    margin-top: 7px;
    
}



.sectionB{
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    display: flex;
    gap: 10px;
    height: 450px;
    margin-top: 3rem;
   
}


.fdiv{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: 2rem;
    
}


.div4{

    font-size: 20px;
   font-weight: bold;
   margin-top: -4rem;
}

.pad{
   
    font-size: 16px;
    margin-top:-10rem ;
    color: darkgray;
}

.img4{
    width: 30%;
}



.sectionC{
    padding: 1rem;
    padding-top: 7rem;
}

.industry{
    text-align: center;
}

.indy{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.indyp{
    font-size: 20px;
    color: darkgray;
}

.profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 6rem;

}

.prof1{
    background-color: white;
    height: 400px;
    text-align: center;
    align-items: center;
    padding: 3rem;
}

.rimg{
    width: 70%;   
}

.review{
    margin-top:10px;
    font-size: 18px;
    font-weight: 400;
    color: darkgray;
}

.stars{
    margin-top: 1rem;
    align-items: flex-start;
}


.vectors{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:10rem ;
    margin-left: -4rem;

}


.vect{
    width: 30%;

}


.subscribe{
    display: flex;
    justify-content: space-around;
    border: 3px;
    height: 9vh;
    width: 100%;
    margin: 1rem;
    margin-top: 4rem;
    text-transform: capitalize;
    cursor: pointer;
    background:linear-gradient(to right, #071eae, #d020d0);
    
}

.news{
   
    width:50%;
    color: white;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: start;
    margin-left: 3rem;
    padding:1rem;
    font-size: 15px;
}

.email{
    
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
   
}

.input{
    height: 4vh;
    width: 40vw;
    


}

.btnsd{
    background-color: rgb(12, 175, 240) ;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 3.9vh;
    border:  white solid 1px;
    width:10vw;
    border-left: none;
    /* border: white solid 1px; */
    /* border-radius: 2px; */
    color: white;
    text-align: center;
    margin-right:4rem;
   
    margin-bottom: -5rem;
    align-items: center;
    cursor: pointer;
    
}

.pricing{
  
    text-align: center;
    width: 100%;
    margin-top: 7rem;

}

.pricetitle{
    font-size:50px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.pricedec{
    font-size: 20px;
    color:darkgray;
}

.pricecards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin:2rem;
    margin-top: 4rem;
    margin-bottom: 9rem;
    padding: 2rem;
}


.card1{
    background-color: white;
    border: solid  rgb(12, 175, 240)  1px;
    height: 640px;
    width: 25vw;
    border-radius: 1rem;
    font-weight: bold;
    font-size:15px;
}

.card2{
    background-color: white;
    border: solid  rgb(12, 175, 240)  1px;
    height: 640px;
    width: 25vw;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size:1px;   
}


.free{
    font-weight: bold;
    font-size: 20px;
    padding-top: 2rem;
}

.hand{
    font-weight: 300;
    color: darkgray;
    font-size: 15px;
    padding: 2rem;
}

.dollar{
    font-size: 20px;
    color:rgb(12, 175, 240) ;
    margin-bottom: 2rem;
    
}

.pbd{
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: center;
    margin-top: -2.3rem;
    font-size: 18px;
    margin-left: 2rem;
    font-weight: bold;
    color: black;
   
}

.pbd1{
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: center;
    margin-top: -2.3rem;
    margin-left: 2rem;
    font-size: 18px;
    font-weight: bold;
    color:black;
}


.sectionD{
    background-color:rgb(2, 2, 29) ;
    height: 100vh;
    margin-top:-3rem;
    margin: 2rem;
}

.dsection{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    padding-top:3rem;
    gap: 7rem;
}

.branches{
    color: white;
    font-weight: bold;
   ;
}


.branch2{
    font-size: 40px;
    margin-bottom: 2rem;
}
.branchesp{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mapdiv{
    width: 100%;
    margin-top: 3rem;
}


.sectionED{
    margin: 5rem;
    padding: 0%;
    margin-top: -18rem;
}

.edal{
    display: flex;
    flex-direction: column;
}

.conty{
    width:100%;
    height: 30vh;
}

.contdt{
    grid-column: span 2;
    background-color:whitesmoke;
    padding: 5rem;
  
}

input{
    width: 10rem;
    height:6.5vh;
    width: 105%;
    border-radius: 6px;
    margin-bottom: 1.4rem;
    margin-left: -2rem;
    border: 1px whitesmoke;
    background-color: lightgray;
    
}

label{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: dark;
    margin-left: -2rem;
}


.sele{
    display: flex;
    border-radius: 10px;
   
}
.sel{
    margin-left: -8rem;
    width: 7vw;
    display: flex;
    height: 6.4vh;
    background-color: lightgray;
    border: 1px lightgray ;
    font-size: 20px;
    color: gray;   
}
.bookyh{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: -2rem;
    margin-bottom: 2.5rem;
}

.appoint{
    background: rgb(8, 151, 207);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 75%;
    height:6.5vh ;
    margin-left: 2rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}



.consult{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 3rem;
    margin-bottom: 15rem;
    align-items: center;

}

.consultbtn{
    background-color:rgb(8, 151, 207) ;
    color: white;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 17px;
    height: 6.5vh;
    font-weight: bold;
    cursor: pointer;
}

.consultpara h2{
    font-weight: bold;
    font-size: 28px;
    text-transform: capitalize;
    margin-top: 1rem;
}

.consultpara p{
    color: darkgray;
    margin-top: 2rem;
    font-size: 25px;
}

.sectionE{
    background-color: white;
    margin-top:-12rem ;
    height: 72vh;
    
}

.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin: 5rem;
    gap: 1rem;
    padding-top:3rem;
    
   
}

.footp{
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footlinks li{
    list-style: none;
    color: darkgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.X{
    display: flex;
    gap: 5px;
    margin-top:1rem;
}

.footers{
    display: flex;
    justify-content: center;
    gap:20rem;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
   
   
   
}

.divo{
   
    color: darkgrey;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.divob{
    display: flex;
    justify-content: space-between;

}

.divob li{
    list-style: none;
    text-align: center;
    font-size: 30px;
    margin: 1rem;
   


  }   
}





    
